# Database - Required
# Get a free PostgreSQL database from https://neon.tech
DATABASE_URL="postgresql://user:password@ep-xxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"

# App
NODE_ENV="development"
PORT=8080
BASE_PATH="/"
